<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= current_object.name %>
</p>

<p>
  <b>Content:</b>
  <%= current_object.content %>
</p>

<p>
  <b>User email :</b>
  <%= current_object.user.email %>
</p>


<%= link_to 'Edit', edit_project_path(current_object) %> |
<%= link_to 'Back', projects_path %>
<br />
<p>
<b>Posts:</b>
</p>
<%= link_to 'List Posts', project_posts_path(current_object) %> |
<%= link_to 'New Post', new_project_post_path(current_object) %> 
