<%= form_for [post.project, post] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
	<%= f.label :project_id %><br />
	<!-- %= f.select :project_id, options_for_select([["Select One", ""],["project1", 1], ["project2", 2]]) % -->
  <%= f.select :project_id, options_for_select(Project.find(:all).collect{|p| [p.name, p.id]}) %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
