<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% current_objects.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.project.name %></td>
    <td><%= link_to 'Show', project_post_path(post.project_id, post) %></td>
		<td><%= link_to 'Edit', edit_project_post_path(post.project_id, post) %></td>    
  </tr>
<% end %>
</table>

