<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= current_object.title %>
</p>

<p>
  <b>Content:</b>
  <%= current_object.content %>
</p>

<p>
  <b>Project:</b>
  <%= current_object.project.name %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
