<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= current_object.title %>
</p>

<p>
  <b>Content:</b>
  <%= current_object.content %>
</p>

<p>
  <b>Project:</b>
  <%= current_object.project.name %>
</p>


<%= link_to 'Edit', edit_project_post_path(current_object) %> |
<%= link_to 'Back', project_posts_path(current_object.project) %>
